@namespace GrayMoon.App.Components.GitChanges
@implements IAsyncDisposable

<div class="git-diff-viewer-wrap">
    <div class="git-diff-pane-headers" id="@_headersRowId">
        <div class="git-diff-pane-headers__original" id="@_originalHeaderId">@OriginalPaneLabel</div>
        <div class="git-diff-pane-headers__modified">@ModifiedPaneLabel</div>
    </div>
    <div id="@_elementId" class="git-diff-viewer"></div>
</div>
